/* titedog#2913 */

[aria-label="titedog"] .banner-1YaD3N,
[style="background-color: rgb(36, 32, 33);"].profileBanner-1owKI5,
.settingsBanner-1eDJ5w {
    content: url("https://tenor.com/view/anime-vibing-gif-18446551");
    height: auto;
}

.userInfo-regn9W [data-user-id="217056587284611073"] {
    top: 240px !important;
}

[aria-label="titedog"]
.banner-2boKnS {
    content: url("https://tenor.com/view/anime-vibing-gif-18446551");
    height: auto;
}
